transition()
  transition all .5s ease

hover-opacity()
  &:hover
    opacity 1

flex-center-vertical()
  display flex
  flex-direction column
  justify-content center

flex-center-horizontal()
  display flex
  flex-direction row
  justify-content center
