
.svg-common 
  background-image url(sprite/svg-sprite.svg)
  display inline-block
  background-repeat no-repeat

// i.svg-common.svg-ic_add_black_36px
$varcoords = 0 0 36px 36px;
.svg-ic_add_black_36px
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-ic_close_black_24px
$varcoords = 60% 0 24px 24px;
.svg-ic_close_black_24px
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-ic_edit_black_24px
$varcoords = 0 100% 24px 24px;
.svg-ic_edit_black_24px
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-ic_save_black_24px
$varcoords = 40% 100% 24px 24px;
.svg-ic_save_black_24px
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-ic_sort_black_24px
$varcoords = 100% 0 24px 24px;
.svg-ic_sort_black_24px
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

// i.svg-common.svg-select-arrows
$varcoords = 83.33333333333333% 61.53846153846154% 12px 21px;
.svg-select-arrows
  background-position $varcoords[0] $varcoords[1]
  width $varcoords[2]
  height $varcoords[3]

