<!DOCTYPE html>
html#myDiv1(lang="en" ng-app="addPersonApp")
  head
    meta(charset="UTF-8")
    title Test task for Nord

    //- Responsive
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="HandheldFriendly" content="true")

    //- Styles
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

  body(ng-controller="PersonListCtrl")
    header
      i.s-global.s-logo

    .container
      h1 Add a person
      .add-person-form
        input(type="text" placeholder="Name").name-input
        select.gender-input
          option(disabled selected) Gender
          option Male
          option Female
        input(type="number" placeholder="Age").age-input
        a(href="#").btn.btn-default.add-person-btn
          i.svg-common.svg-ic_add_black_36px

      h4 Total persons : {{persons.length}}
      h4 Current page : {{currentPage}}

      table.person-table.table.table-striped
        thead
          tr
            th
              span Name
              i.svg-common.svg-ic_sort_black_24px
            th
              span Gender
              i.svg-common.svg-ic_sort_black_24px
            th 
              span Age
              i.svg-common.svg-ic_sort_black_24px
            th
        tbody
          //- tr(ng-repeat="person in persons")
          tr(dir-paginate="person in persons | itemsPerPage: pageSize" current-page="currentPage")
            td {{person.name()}}
            td {{person.gender()}}
            td {{person.age()}}
            td
              i.svg-common.svg-ic_close_black_24px
              i.svg-common.svg-ic_edit_black_24px

      div
        dir-pagination-controls(boundary-links="true" template-url="dirPagination.tpl.html")
      

    //- Javascript
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js")
    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src='js/controller.js')
    script(src="js/dirPagination.js")
